*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
/* ### Primary */

--Sharp-Cyan: hsl(180, 49%, 73%);
--Cyan: hsl(180, 66%, 49%);
--Dark-Violet: hsl(257, 27%, 26%);

/* ### Secondary */

--Red: hsl(0, 87%, 67%);

/* ### Neutral */

--Gray: hsl(0, 0%, 75%);
--Gray-lower: hsla(0, 0%, 75%, 0.363);
--Grayish-Violet: hsl(257, 7%, 63%);
--Very-Dark-Blue: hsl(255, 11%, 22%);
--Very-Dark-Violet: hsl(260, 8%, 14%);

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}